.navbar {
  background-color: rgb(235, 231, 14) !important;
}

.jumbotron{
  background-color: rgba(255, 255, 0, 0.911);
}

.card{
  background-color: rgba(255, 255, 0, 0.705);
  margin-bottom: 20px;
}

body{
  background-color: rgb(226, 219, 207);
}